<div class="<%=notice ? 'alert alert-success': ''%>" role="alert"><%= notice %></div>

<%= link_to "Novo usuário", new_user_path %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Username</th>
      <th scope="col">E-mail</th>
      <th scope="col">Criado em</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%=user.id%></th>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at.try(:strftime, '%d/%m/%y %H:%M:%S') %></td>
        <td><%= link_to "Editar", edit_user_path(user) %> | <%= button_to "Deletar", user, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users, window: 2 %>
